

  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');



$primaryPurple: #9356DC;
$secondaryPink: #FF79DA;
$tertiaryGreen: #99E2D0;

$txtPolice: 'Roboto', sans-serif;
$titlePolice: 'Shrikhand', sans-serif;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: $txtPolice
}

a{
    text-decoration: none !important;
    color: #000;
    &:visited{
        text-decoration: none !important; 
        color: #000;
    }
}

.firstElem{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    height: 96px;
        &__logo{
            position: absolute;
            width: 200px;
            height: 96px;

        }       
        &__arrow{
            padding: 17px;
        }
}

.invisible{
    display: none;
}

@keyframes like {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }

  @keyframes unlike {
    from {
        opacity: 1;
        background-image: url("../images/icon/Status=Liked.svg");
    }

    99%{
        opacity: 0;
        background-image: url("../images/icon/Status=Default.svg");
    }
  
    to {
        opacity: 0;
    }
  }

#likebtn1:checked + label > span, 
#likebtn2:checked + label > span,
#likebtn3:checked + label > span,
#likebtn4:checked + label > span{
    background-image: url("../images/icon/Status=Liked.svg");
    animation: like 0.4s ease-in-out forwards;
}

#likebtn1:not(:checked) + label > span, 
#likebtn2:not(:checked) + label > span,
#likebtn3:not(:checked) + label > span,
#likebtn4:not(:checked) + label > span{
    
    animation: unlike 0.4s ease-in-out backwards;
    
}

.button{
        border-radius: 25px;
        background: linear-gradient(193deg, $secondaryPink -11.44%, $primaryPurple 123.93%);
        border: none;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        

    &:hover{
        
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.40);
    }
        
        
        &__txt{
            padding: 15px 17px 15px 17px;
            font-size: 20px;
            color: #FFF;
            display: inline-block;
            white-space: nowrap;
        }
    }

.footer{
    display: flex;
    flex-direction: column;
    background-color: #353535;
    padding: 25px;
    align-items: center;
    
    @media only screen and (min-width: 1040px) {
            
        flex-direction: row-reverse;
        padding-top: 50px;
    }
    &__logo{
        filter: invert(99%) sepia(75%) saturate(0%) hue-rotate(271deg) brightness(113%) contrast(100%);
        // margin-bottom: 10px;
        @media only screen and (min-width: 1040px) {
            
            margin-left: 60px;
            
        }
        justify-content: center;
        width: 139px;
    }

    &__container{
        display: flex;
        flex-direction: column;
        gap: 2px;
        height: 20%;
        justify-content: center;
        gap: 7px;
        margin-top: 7px;
        @media only screen and (min-width: 1040px) {
            margin-top: 0;
            flex-direction: row;
            gap: 20px;
        }
        
        &__elem{
            display: flex;
            gap: 11px;
            color: #FFF;
            // line-height: 1;
            font-size: 15px;
            a{
                color: #FFF;
            }
            &__ico{
                width: 15px;
            }
        }
    }
}



