$primaryPurple: #9356DC;
$secondaryPink: #FF79DA;
$tertiaryGreen: #99E2D0;

$txtPolice: 'Roboto', sans-serif;
$titlePolice: 'Shrikhand', sans-serif;

@keyframes disable-main {
    from {
        opacity: 0;;
    }

    90%{
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }

  @keyframes disable-loader {
    from {
        width: 100%;
        height: auto;
    }

    99%{
        width: 100%;
        height: auto;
    }
  
    to {
        width: 0;
        height: 0;
    }
  }

  @keyframes spinner {
    from {
      transform: rotate(0deg);
      opacity: 1;
    }

    90%{
        opacity: 1;
    }

    to {
      opacity: 0;
      transform: rotate(360deg);
    }
  }

main{
    animation: disable-main 3s cubic-bezier(.17,.67,.83,.67) forwards;
    opacity: 0;
}

.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    animation: disable-loader 3s cubic-bezier(.17,.67,.83,.67) forwards;
    &__spin{
        position: absolute;
        top: 80px;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        width: 150px;
        height: 150px;
        border-radius: 50%;
        animation: disable-loader 3s cubic-bezier(.17,.67,.83,.67) forwards;
        animation: spinner 3s forwards cubic-bezier(.17,.67,.83,.67) ;
        
        
        border: 10px solid $tertiaryGreen;
        border-bottom-color: $primaryPurple;
    }
}

.global{
    display: flex;
    flex-direction: column;
}

.location{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 17px;
    width: 100%;
    height: 50px;
    background-color: #EAEAEA;
    
    &__pin{
        width: 12px;
        height: 16px;
    }

    &__txt{
        font-size: 16px;
    }
}

.explore{
    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 65px 0;
    background: #F6F6F6;

    &__txt{
        padding: 0 5%;
    }
}

.fonction{
    display: flex;
    flex-direction: column;
    padding: 65px 0;
    justify-content: center;
    align-items: center;
   
    &__title{
        // margin-left: 6%;
        // margin: auto;
        width: 80%;
    }

    &__cards{
        margin: auto;
        display: flex;
        flex-direction: column;
        
        gap: 25px;
        width: 80vw;
        max-width: 1000px;
        @media only screen and (min-width: 1040px) {
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        &__elem{
            display: flex;
            gap: 10px;
            align-items: center;
            // justify-content: center;
            border-radius: 20px;
            background-color: #F6F6F6;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            width: 100%;
            max-width: 325px;
            padding: 8px;
            
            &__nbr{
                z-index: 1;
                position: relative;
                left: -19px;
                
            }

            // &__ico{
                
            // }

            // &__txt{
                
            // }
        }
    }

}

.wrapper{
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 20px;
    @media only screen and (min-width: 1040px) {
        max-width: 1000px;
    }
    &--maxwidth{
        max-width: 320px;
        @media only screen and (min-width: 1040px) {
            max-width: 1000px;
            
        }
    }
}

.resto{
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    
    padding: 65px 0;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    
    &--grp{
        display: flex;
        flex-direction: column;
        @media only screen and (min-width: 1040px) {
            // width: 80%;
            
            flex-direction: row;
            // justify-content: center;
            align-items: center;
            justify-content: space-around;
            gap: 20px;
            
        }
    }
    &__title{
        // align-self: flex-start;
        
        // margin: auto;
        
        width: 80%;
       
        

    }

    &__card{
        display: flex;
        flex-direction: column;
        width: 80vw;
        min-width: 300px;
        max-width: 500px;
        // margin: auto;
        border-radius: 15px;
        background-color: #FFF;
        margin: auto;
        @media only screen and (min-width: 1040px) {
            
            width: 500px;
            
        }
        &__show{

            &__new{
                display: flex;
                border-radius: 2px;
                background-color: #99E2D0;
                padding: 2% 4%;
                color: #008766;
                text-align: center;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
                margin: 15px 15px 15px auto;
                width: fit-content;
                // float: right;
                // position: relative;
                // bottom: -14px;
                // right: 7px;
                font-size: 100%;
                
                max-width: 125px;

                &--hide{
                    visibility: hidden;
                }
            }

            &__img{
                
                display: flex;
                width: 100%;
                max-width: 500px;
                // transform: translate(0, -15%)
                border-radius: 15px 15px 0 0;
                // right: 0;
                // bottom: 0;
                // background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
                
                background-size: cover;
                padding-bottom: 50%;
                
                
            
            }

        }

        &__info{
            display: flex;
            padding: 15px;
            justify-content: space-between;
            // transform: translate(0, -15%);
            &__block{
                display: flex;
                flex-direction: column;
                font-size: 20px;
                gap: 10px;
                &__title{
                    margin: 0;
                }
                &__txt{
                    margin: 0;
                }
            }

            &__img{
                align-self: center;
                height: 6vw;
                width: 6vw;
                max-width: 40px;
                max-height: 40px;
                background-image: url("../images/icon/Status=Default.svg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
    }
}



#likebtn1:checked + label > div, #likebtn2:checked + label > div,#likebtn3:checked + label > div,#likebtn4:checked + label > div{
    background-image: url("../images/icon/Status=Liked.svg");
}

.bgres1{
    background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.bgres2{
    background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-position: 20% 70%;
}

.bgres3{
    background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    
}

.bgres4{
    background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}



