$primaryPurple: #9356DC;
$secondaryPink: #FF79DA;
$tertiaryGreen: #99E2D0;

$txtPolice: 'Roboto', sans-serif;
$titlePolice: 'Shrikhand', sans-serif;



.global{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    justify-content: center;
    
}

.firstElem{
    padding: 0 16px;
    &__arrow{
        margin-right: auto;
        
        position: relative;
        
    }
    &__logo{
        align-self: center;
        justify-self: center;
        margin-right: auto;
        
    }
}

.mainbg1{
    display: flex;
    height: 275px;
    background:#fff url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) no-repeat center ;
    background-size: cover;
}

main{
    background: white !important;
    padding: 0 3%;
    border-radius: 30px 30px 0 0;
    margin-top: -25px;
    @media only screen and (min-width: 1040px) {
        width: 90%;
        min-width: 1030px;
        max-width: 1055px;
        margin-left: auto;
        margin-right: auto;
    }
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
    
    &__title{
        font-family: $titlePolice;
        font-size: 28px;
        
    }

    &__img{
        align-self: center;
        height: 24px;
        width: 24px;
        background-image: url("../images/icon/Status=Default.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

#likebtn1:checked + label > div{
    background-image: url("../images/icon/Status=Liked.svg");
}

@keyframes appear {
    from {
      
        transform: translate3d(-100%, 0, 0);
      
    }

    95%{
        transform: translate3d(+10%, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
  }

.step1{
    animation: appear 0.3s cubic-bezier(.17,.67,.83,.67) forwards;
}

.step2{
    animation: appear 0.6s cubic-bezier(.17,.67,.83,.67) forwards;
}

.step3{
    animation: appear 0.9s cubic-bezier(.17,.67,.83,.67) forwards;
}

.menu{
    display: flex;
    flex-direction: column;
    margin-top: -15px;
    
    &__title{
            margin-top: 15px;
        &__title{
            font-weight: 300;
            text-transform: uppercase;
        }
        &__greenline{
            background-color: $tertiaryGreen;
            width: 40px;
            height: 3px;
            margin-top: -15px;
            margin-bottom: 25px;
        }
    }

    

    &__elem{
        
        display: flex;
        flex-direction: column;
        gap: 12px;
        
        &__food{
            display: flex;
            justify-content: space-between;
            
            padding: 5px 10px;
            border-radius: 15px;
            background: var(--White, #FFF);
            box-shadow: 0px 4.01149px 15px 0px rgba(0, 0, 0, 0.15);
            width: 100%;
            transition: all 0.3s ease-in-out;
            
            &__title{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

            }
            &__txt{
                font-size: 15px;
                font-weight: 100;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100%;
            }
            &--div1{

                max-width: 90%;
            }
            &--div2{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                max-width: 100%;
            }
            &__price{
                
            }
        }
    }
}

#foodcheck1 + label,#foodcheck2 + label,#foodcheck3 + label, #foodcheck4 + label, #foodcheck5 + label, #foodcheck6 + label, #foodcheck7 + label, #foodcheck8 + label, #foodcheck9 + label{
    display: flex;
    &::after {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0 15px 15px 0;
      content: "";
      background-color: #99E2D0;
      width: 0;
      transition: all 0.3s ease-in-out;
      max-width: 59px;
      
    }
  }
  
  #foodcheck1:checked + label::after, #foodcheck2:checked + label::after, #foodcheck3:checked + label::after, #foodcheck4:checked + label::after, #foodcheck5:checked + label::after, #foodcheck6:checked + label::after, #foodcheck7:checked + label::after,#foodcheck8:checked + label::after,#foodcheck9:checked + label::after{
    
    width: 100%;
    animation-delay: 0s;
    content: url(../images/icon/Check.svg);
  }

  #foodcheck1:checked + label > div, #foodcheck2:checked + label > div, #foodcheck3:checked + label > div, #foodcheck4:checked + label > div, #foodcheck5:checked + label > div, #foodcheck6:checked + label > div #foodcheck7:checked + label > div, #foodcheck8:checked + label > div, #foodcheck9:checked + label > div{
    border-radius: 15px 0 0 15px;
    
    width: calc(100% - 59px);
    
  }
  

.command{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}