@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.firstElem {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.firstElem__logo {
  padding: 14px 0 14px 0;
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 17px;
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
}
.location__pin {
  width: 12px;
  height: 16px;
}
.location__txt {
  font-size: 16px;
}

.explore {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-bottom: 40px;
  background: #F6F6F6;
}
.explore__button {
  border-radius: 25px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  border: none;
}
.explore__button__txt {
  padding: 15px 17px 15px 17px;
  font-size: 20px;
  color: #FFF;
  display: inline-block;
  white-space: nowrap;
}

.fonction {
  padding-bottom: 40px;
}
.fonction__title {
  margin-left: 6%;
}
.fonction__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.fonction__cards__elem {
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  width: 80%;
  max-width: 322px;
  padding: 8px;
}
.fonction__cards__elem__nbr {
  z-index: 1;
  position: relative;
  left: -19px;
}
.resto {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  gap: 20px;
}
.resto__title {
  width: 80%;
  margin: auto;
  margin-bottom: 5px;
}
.resto__card {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  border-radius: 15px;
  background-color: #FFF;
}
.resto__card__show__new {
  display: flex;
  border-radius: 2px;
  background-color: #99E2D0;
  padding: 2%;
  color: #008766;
  text-align: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 15px 15px 15px auto;
  width: fit-content;
  font-size: 4.5VW;
}
.resto__card__show__new--hide {
  visibility: hidden;
}
.resto__card__show__img {
  display: flex;
  width: 100%;
  border-radius: 15px 15px 0 0;
  background-size: cover;
  padding-bottom: 50%;
}
.resto__card__info {
  display: flex;
  padding: 15px;
  justify-content: space-between;
}
.resto__card__info__block {
  display: flex;
  flex-direction: column;
  font-size: 4.5vw;
  gap: 10px;
}
.resto__card__info__block__title {
  margin: 0;
}
.resto__card__info__block__txt {
  margin: 0;
}
.resto__card__info__img {
  align-self: center;
  height: 6vw;
  max-height: 100px;
}

.bgres1 {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.bgres2 {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-position: 20% 70%;
}

.bgres3 {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.bgres4 {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

/*# sourceMappingURL=style.css.map */
