@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.global {
  display: flex;
  flex-direction: column;
}

.firstElem {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.firstElem__logo {
  padding: 14px 0 14px 0;
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 17px;
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
}
.location__pin {
  width: 12px;
  height: 16px;
}
.location__txt {
  font-size: 16px;
}

.explore {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 65px 0;
  background: #F6F6F6;
}
.explore__txt {
  padding: 0 5%;
}
.explore__button {
  border-radius: 25px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.explore__button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
}
.explore__button__txt {
  padding: 15px 17px 15px 17px;
  font-size: 20px;
  color: #FFF;
  display: inline-block;
  white-space: nowrap;
}

.fonction {
  display: flex;
  flex-direction: column;
  padding: 65px 0;
  justify-content: center;
  align-items: center;
}
.fonction__title {
  width: 80%;
}
.fonction__cards {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 80vw;
  max-width: 1000px;
}
@media only screen and (min-width: 1040px) {
  .fonction__cards {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
.fonction__cards__elem {
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 325px;
  padding: 8px;
}
.fonction__cards__elem__nbr {
  z-index: 1;
  position: relative;
  left: -19px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: auto;
}
.wrapper--maxwidth {
  max-width: 320px;
}
@media only screen and (min-width: 1040px) {
  .wrapper--maxwidth {
    max-width: 1022px;
  }
}

.resto {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 65px 0;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.resto--grp {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1040px) {
  .resto--grp {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
  }
}
.resto__title {
  width: 80%;
}
.resto__card {
  display: flex;
  flex-direction: column;
  width: 80vw;
  min-width: 300px;
  max-width: 500px;
  border-radius: 15px;
  background-color: #FFF;
  margin: auto;
}
@media only screen and (min-width: 1040px) {
  .resto__card {
    width: 500px;
  }
}
.resto__card__show__new {
  display: flex;
  border-radius: 2px;
  background-color: #99E2D0;
  padding: 2% 4%;
  color: #008766;
  text-align: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 15px 15px 15px auto;
  width: fit-content;
  font-size: 100%;
  max-width: 125px;
}
.resto__card__show__new--hide {
  visibility: hidden;
}
.resto__card__show__img {
  display: flex;
  width: 100%;
  max-width: 500px;
  border-radius: 15px 15px 0 0;
  background-size: cover;
  padding-bottom: 50%;
}
.resto__card__info {
  display: flex;
  padding: 15px;
  justify-content: space-between;
}
.resto__card__info__block {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 10px;
}
.resto__card__info__block__title {
  margin: 0;
}
.resto__card__info__block__txt {
  margin: 0;
}
.resto__card__info__img {
  align-self: center;
  height: 6vw;
  width: 6vw;
  max-width: 40px;
  max-height: 40px;
  background-image: url("../images/icon/Status=Default.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.invisible {
  display: none;
}

#likebtn1:checked + label > div, #likebtn2:checked + label > div, #likebtn3:checked + label > div, #likebtn4:checked + label > div {
  background-image: url("../images/icon/Status=Liked.svg");
}

.bgres1 {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.bgres2 {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-position: 20% 70%;
}

.bgres3 {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.bgres4 {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 25px;
}
@media only screen and (min-width: 1040px) {
  .footer {
    flex-direction: row-reverse;
    padding-top: 50px;
  }
}
.footer__logo {
  filter: invert(99%) sepia(75%) saturate(0%) hue-rotate(271deg) brightness(113%) contrast(100%);
  width: 136px;
}
@media only screen and (min-width: 1040px) {
  .footer__logo {
    margin-left: 60px;
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 20%;
  justify-content: center;
}
@media only screen and (min-width: 1040px) {
  .footer__container {
    flex-direction: row;
    gap: 20px;
  }
}
.footer__container__elem {
  display: flex;
  gap: 11px;
  color: #FFF;
  line-height: 0.1;
}
.footer__container__elem__ico {
  overflow-clip-margin: unset;
}

/*# sourceMappingURL=style.css.map */
